@model QuanLyDeTai.Models.Teacher

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}

<h2>Update</h2>

<form action="/QuanLyThongTinGiaoVien/Update" method="post">


</form>